In [1]:
import pandas as pd

#import of the dataset using panda
df = pd.read_csv(r'FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [2]:
import pandas as pd

df = pd.read_csv(r'FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

# Which of these Areas in the dataset had the highest sum in 2017?
df.groupby(['Area'])['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [3]:
import pandas as pd

df = pd.read_csv(r'FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

#Which year in the dataset had the least correlation with ‘Element Code’?
corr_matrix = df.corr()

least_corr = corr_matrix['Element Code'].sort_values()[0]

df.loc[:, 'Y2017'].mean()
df.loc[:, 'Y2017'].std()

round(df.loc[:, 'Y2017'].mean(), 2)
round(df.loc[:, 'Y2017'].std(), 2)

<ipython-input-3-cc0290db42bd>:6: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

1671.86

In [4]:
least_corr

-0.02468327357386329

In [5]:
import pandas as pd
#Calculate Which of these Areas in the dataset had the 7th lowest sum in 2017?
df = pd.read_csv(r'FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1', usecols=['Y2017', 'Area'])

grouped = df.groupby('Area').sum()

print(grouped.nsmallest(7, 'Y2017'))

                          Y2017
Area
Ethiopia PDR               0.00
Sudan (former)             0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

In [6]:
import numpy as np

array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

print(array[0:2, 1:3])

[[89 63]
 [92 48]]

In [7]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r'FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
# Group by 'Element' and sum all columns
grouped = df.groupby('Element').sum()

# Find the year with the highest sum
year = grouped.sum(axis=1).idxmax()

print(f"{year}.")

Domestic supply quantity.

<ipython-input-7-a0fc3b8dfb65>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('Element').sum()

In [8]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r'FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

# Sum specific columns
df['Element'] = df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum(axis=1)
highest_sum = df.groupby('Element').sum().max()

<ipython-input-8-2cb5f196208f>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  highest_sum = df.groupby('Element').sum().max()

In [9]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,202820.00,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,0.00,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,16791.00,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,468.62,g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,394.29,g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,156.00,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,11.15,kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,12.00,kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,0.37,g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,0.15,g/capita/day,0.04,0.05,0.03,0.02,0.01